.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price span {
    font-size: 3rem !important;
}

@media (min-width:576px) and (max-width:768px) {
    .price span {
        font-size: 2rem !important;
    }
}

.price .price-country {
    font-size: 1.5rem !important;
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #FD4D4D;
  --primary-hover: #ff5c5c;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="dark"],
:root:not([data-theme="light"]) {
  --primary: #FD4D4D;
  --primary-hover: #ff5c5c;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #FD4D4D;
    --primary-hover: #ff5c5c;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}